In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import IsolationForest
%matplotlib inline

In [23]:
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

<b>Maximum Number Features</b>: The default value of max features is 1. The maximum number of features is the number of features to draw from the total features to train each tree.<br>
<b>Maximum Number of Samples</b>: Indicates the number of samples to be drawn to train each tree. If this value is more than the number of samples provided, all samples will be used.<br>
<b>Contamination</b>: This is the expected proportion of outliers in the dataset and is quite sensitive. This is used when fitting to define the threshold on the scores of the samples.<br>
<b>Count of Estimators</b>: It is an optional parameter with a default value equal to 100. This refers to the number of trees that will get built in the forest.

In [31]:
max_features=1.0
n_estimators=50
max_samples='auto'
contamination=float(0.05)
model=IsolationForest(max_features = max_features, n_estimators=n_estimators, max_samples=max_samples, contamination=contamination)
model.fit(df[['Height']])

IsolationForest(contamination=0.05, n_estimators=50)

In [32]:
df['scores']=model.decision_function(df[['Height']])
df['anomaly_Value']=model.predict(df[['Height']])
df.head(10)

  Gender     Height      Weight    scores  anomaly_Value
0   Male  73.847017  241.893563  0.005904              1
1   Male  68.781904  162.310473  0.131471              1
2   Male  74.110105  212.740856 -0.005987             -1
3   Male  71.730978  220.042470  0.106355              1
4   Male  69.881796  206.349801  0.135753              1
5   Male  67.253016  152.212156  0.164718              1
6   Male  68.785081  183.927889  0.131471              1
7   Male  68.348516  167.971110  0.147170              1
8   Male  67.018950  175.929440  0.164670              1
9   Male  63.456494  156.399676  0.149486              1

In [33]:
df['anomaly_Value'].value_counts()

 1    9505
-1     495
Name: anomaly_Value, dtype: int64

In [34]:
df2 = df[df.anomaly_Value !=-1]
df2.shape

(9505, 5)